/* Roboto */

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;

	src: url(/fonts/roboto/100.woff2) format('woff2'),
	     url(/fonts/roboto/100.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;

	src: url(/fonts/roboto/100-italic.woff2) format('woff2'),
	     url(/fonts/roboto/100-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;

	src: url(/fonts/roboto/300.woff2) format('woff2'),
	     url(/fonts/roboto/300.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;

	src: url(/fonts/roboto/300-italic.woff2) format('woff2'),
	     url(/fonts/roboto/300-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;

	src: url(/fonts/roboto/400.woff2) format('woff2'),
	     url(/fonts/roboto/400.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;

	src: url(/fonts/roboto/400-italic.woff2) format('woff2'),
	     url(/fonts/roboto/400-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;

	src: url(/fonts/roboto/500.woff2) format('woff2'),
	     url(/fonts/roboto/500.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;

	src: url(/fonts/roboto/500-italic.woff2) format('woff2'),
	     url(/fonts/roboto/500-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;

	src: url(/fonts/roboto/700.woff2) format('woff2'),
	     url(/fonts/roboto/700.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;

	src: url(/fonts/roboto/700-italic.woff2) format('woff2'),
	     url(/fonts/roboto/700-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;

	src: url(/fonts/roboto/900.woff2) format('woff2'),
	     url(/fonts/roboto/900.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;

	src: url(/fonts/roboto/900-italic.woff2) format('woff2'),
	     url(/fonts/roboto/900-italic.woff) format('woff');
}

/* Roboto Condensed */

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-style: normal;

	src: url(/fonts/roboto/condensed/300.woff2) format('woff2'),
	     url(/fonts/roboto/condensed/300.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-style: italic;

	src: url(/fonts/roboto/condensed/300-italic.woff2) format('woff2'),
	     url(/fonts/roboto/condensed/300-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-style: normal;

	src: url(/fonts/roboto/condensed/400.woff2) format('woff2'),
	     url(/fonts/roboto/condensed/400.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-style: italic;

	src: url(/fonts/roboto/condensed/400-italic.woff2) format('woff2'),
	     url(/fonts/roboto/condensed/400-italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-style: normal;

	src: url(/fonts/roboto/condensed/700.woff2) format('woff2'),
	     url(/fonts/roboto/condensed/700.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-style: italic;

	src: url(/fonts/roboto/condensed/700-italic.woff2) format('woff2'),
	     url(/fonts/roboto/condensed/700-italic.woff) format('woff');
}

/* Noto Sans */

@font-face {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-style: normal;

	src: url(/fonts/noto/sans/400.woff2) format('woff2'),
	     url(/fonts/noto/sans/400.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 400;
	font-style: italic;

	src: url(/fonts/noto/sans/400-italic.woff2) format('woff2'),
	     url(/fonts/noto/sans/400-italic.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-style: normal;

	src: url(/fonts/noto/sans/700.woff2) format('woff2'),
	     url(/fonts/noto/sans/700.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-style: italic;

	src: url(/fonts/noto/sans/700-italic.woff2) format('woff2'),
	     url(/fonts/noto/sans/700-italic.woff) format('woff');
}

/* Noto Sans CJK JP */

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 100;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/100.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/100.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 200;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/200.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/200.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 300;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/300.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/300.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 400;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/400.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/400.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 500;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/500.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/500.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 700;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/700.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/700.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	font-weight: 900;
	font-style: normal;

	src: url(/fonts/noto/sans/cjk/jp/900.woff2) format('woff2'),
	     url(/fonts/noto/sans/cjk/jp/900.woff) format('woff');
}

/* Noto Sans Mono CJK JP */

@font-face {
	font-family: 'Noto Sans Mono CJK JP';
	font-weight: 400;
	font-style: normal;

	src: url(/fonts/noto/sans/mono/cjk/jp/400.woff2) format('woff2'),
	     url(/fonts/noto/sans/mono/cjk/jp/400.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans Mono CJK JP';
	font-weight: 700;
	font-style: normal;

	src: url(/fonts/noto/sans/mono/cjk/jp/700.woff2) format('woff2'),
	     url(/fonts/noto/sans/mono/cjk/jp/700.woff) format('woff');
}
